# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
out/
tmp/
temp/

# Cache
.cache/
.parcel-cache/
.next/
nuxt-dist/
vite.config.ts.timestamp-*

# OS / Editor junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Misc
*.log
