
html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/*remove base margin/padding */
.reveal {
  --r-block-margin: 0;
}

.code-block {
  height: 400px;
  gap: 1rem;
}

.code-block img {
  height: 100%;
  object-fit: contain;
}

p{
  margin:0;
  padding: 0;
  line-height: 1;
}

img:not([src]),
img[src=""] {
  display: none;
}

section{
  width: 100%;
  height: 100%;
}

* {
  /* include padding in size (avoid calc) */
  box-sizing: border-box;
}

.layout {
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.v-align-start {
  align-items: flex-start;
}

.v-align-center {
  align-items: center;
}

.v-align-end {
  align-items: flex-end;
}

.h-align-start {
  justify-content: flex-start;
}

.h-align-center {
  justify-content: center;
}

.h-align-end {
  justify-content: flex-end;
}



.slide-109{
  background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
background-color: #eaeaea;
}

  
  

  
  
    .content-101{
  height: 10%;}
    
    .content-101{
  background-color: rgba(255, 255, 255, 0.5);
}
  
  

  
  .content-103{
  font-size: 2rem;
}

  
  

  
  
    
    
    .content-106{
  font-size: 5rem;
font-weight: bold;
color: white;
text-shadow: 1px 1px 2px #000000;
}
  
  
    .content-108{
  height: 5%;}
    
    .content-108{
  background-color: rgba(255, 255, 255, 0.5);
font-size: 0.5em;
}


.slide-113{
  background-color:red;
}

  
  .content-110{
  font-weight:bold;
}
  
  
  
  




  
  
  
  




  
  
  
  
  
  

  
  

  
  
    
    
    .content-122{
  gap: 2rem;
align-items: center;
}




  
  

  